.footer {
  /* border: 1px solid #fff; */
  width: 100%;
}

.footer__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  height: 30vh;
  /* border: 1px solid #fff; */
  background-color: #212121;
  position: relative;
}

.footer__div > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer__div span {
  border: 1px solid #fff;
  padding: 15px;
}

/* go to top button*/
.topDiv {
  border: 1px solid #fff;
  position: absolute;
  right: 30px;
  padding: 25px;
}
