.top-Projects {
  width: 80%;
  height: 65vh;
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* background: green; */
  margin-bottom: 3%;
}

.top-Projects > div:first-child {
  flex-basis: 45%;
}
.mt {
  margin-top: 10%;
}

.top_left > .top-Projects {
  flex-direction: row-reverse;
}

.top_left > .top-Projects .project-imges .card {
  left: 5.5rem;
}
.top_right > .top-Projects .project-imges .card {
  right: 5.5rem;
}

.project-imges {
  position: relative;
  width: 40rem;
  height: 20rem;
  transform: perspective(10rem);
  transform-style: preserve-3d;
}
.card {
  position: absolute;
  width: 45rem;
  height: 30rem;
  background: yellow;
}

.img-1 {
  animation: switch-1 10s ease-in-out infinite both;
  background: yellow;
  /* background-image: url(../img/forest.gif); */
  background-size: 100% 100%;
  object-fit: contain;
  background-position: center;
}

.img-2 {
  animation: switch-2 10s ease-in-out infinite both;
  background: orangered;
  background-size: 100% 100%;
  background-position: center;
}
.img-3 {
  animation: switch-3 10s ease-in-out infinite both;
  background: teal;
  background-size: 100% 100%;
  background-position: center;
}

.top_left .img-1 {
  animation: switch-left-1 10s ease-in-out infinite both;
  background-size: 100% 100%;
  object-fit: contain;
  background-position: center;
}
.top_left .img-2 {
  animation: switch-left-2 10s ease-in-out infinite both;
  background-size: 100% 100%;
  object-fit: contain;
  background-position: center;
}
.top_left .img-3 {
  animation: switch-left-3 10s ease-in-out infinite both;
  background-size: 100% 100%;
  object-fit: contain;
  background-position: center;
}

@keyframes switch-1 {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(-14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-2 {
  0%,
  100% {
    transform: translate3d(14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(-14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-3 {
  0%,
  100% {
    transform: translate3d(-14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-left-1 {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(-14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-left-2 {
  0%,
  100% {
    transform: translate3d(-14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-left-3 {
  0%,
  100% {
    transform: translate3d(14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(-14.5rem, 0, -4.5rem);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

/* media queries*/

@media screen and (max-width: 450px) {
  .top-Projects {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .top_left > .top-Projects {
    flex-direction: column;
  }

  .top_left > .top-Projects .project-imges .card {
    left: 0;
  }
  .top_right > .top-Projects .project-imges .card {
    right: 0;
  }

  .project-imges {
    position: relative;
    width: 10rem;
    height: 10rem;
    transform: perspective(5rem);
    transform-style: preserve-3d;
  }
  .card {
    position: absolute;
    width: 25rem;
    height: 35rem;
    background: yellow;
  }
}
