.top-Projects {
  width: 80%;
  height: 80vh;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
  margin-bottom: 3%;
}

.top_left > .top-Projects {
  flex-direction: row-reverse;
}

.top_left > .top-Projects .project-imges .card {
  left: 55px;
}

.project-imges {
  position: relative;
  width: 400px;
  height: 200px;
  transform: perspective(100px);
  transform-style: preserve-3d;
}
.card {
  position: absolute;
  width: 340px;
  height: 250px;
  background: yellow;
}

.img-1 {
  animation: switch-1 9s ease-in-out infinite both;
  background: yellow;
}
.img-2 {
  animation: switch-2 9s ease-in-out infinite both;
  background: orangered;
}
.img-3 {
  animation: switch-3 9s ease-in-out infinite both;
  background: teal;
}

@keyframes switch-1 {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-2 {
  0%,
  100% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes switch-3 {
  0%,
  100% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
